name: Publish Docker image

on:
  push:
    tags:
      - 'v*'
  #release:
  #  types: [published]

jobs:
  publish:
    name: Publish Docker image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Generate build tag
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
        shell: /bin/bash -e {0}

      - name: Print build tag
        run: echo "${VERSION}"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ github.actor }}/helloapp

      - name: Log in to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          #push: true
          push: ${{ github.event_name != 'pull_request' }}
          #tags: ${{ github.actor }}/helloapp:${{ env.VERSION }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  release:
    if: startsWith(github.ref, 'refs/tags/v')
    name: Release
    runs-on: ubuntu-latest
    needs: [ publish ]
    steps:
#    - name: Check out code
#      uses: actions/checkout@master
#    - name: goreleaser
#      uses: docker://goreleaser/goreleaser
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      with:
#        args: release
#      if: success()
    - name: Checkout
      uses: actions/checkout@v4

    - name: Unshallow
      run: git fetch --prune --unshallow

    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        #go-version: 'stable'
        go-version-file: 'go.mod'
        check-latest: true
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Generate build tag
      run: |
        VERSION=$(git describe --tags --always --dirty --match=v* 2> /dev/null || echo v0)
        echo "VERSION=$VERSION" >> $GITHUB_ENV
      shell: /bin/bash -e {0}

    - name: Print build tag
      run: echo "${VERSION}"

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v6
      with:
        version: '~> v2' # latest
        args: release --rm-dist
        workdir: .
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VERSION: ${{ env.VERSION }}
