#on: pull_request
on:
  push:
    branches:
      - '*'
    tags:
      - 'v*'
    #tag-ignore:
    #  - 'v*'
  workflow_dispatch:

name: HelloApp
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    #- run: sed -En 's/^([[:digit:].]+)$/GO_VERSION=\1/p' go.ver >> $GITHUB_ENV

    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        #go-version: ${{ env.GO_VERSION }}
        #go-version: 'stable'
        go-version-file: 'go.mod'
        check-latest: true
      id: go

    - name: Lint
      run: |
        go mod tidy
        make vet
        #go get -u golang.org/x/lint/golint
        #make lint
      if: success()

    - name: Test
      run: make test
      if: success()

    - name: Build
      run: go build -mod vendor ./...
      if: success()

